*{
    background-color: black;
}

.poster{
    width: 50%; 
    margin-left: 25%;
    margin-top: 50px;
    text-align: center;
    color:wheat;
    font-family: "Libre Baskerville", serif;
}

h1{
    text-transform: capitalize;
    font-size: 3rem;
}

p{
    font-size:1.2em;
    font-family:inherit;
}

.image{
    border:5px solid wheat;
    width: 100%;
}
